# MongoDB
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=your_password_here
MONGO_PORT=27018

# Mongo Express
ME_CONFIG_BASICAUTH_USERNAME=student
ME_CONFIG_BASICAUTH_PASSWORD=your_password_here

# Redis
REDIS_PASSWORD=your_password_here
REDIS_PORT=6379

# Redis Commander
REDIS_COMMANDER_PORT=8083

# Neo4j
NEO4J_AUTH=neo4j/your_password_here
NEO4J_HTTP_PORT=7474
NEO4J_BOLT_PORT=7687

# Cassandra
CASSANDRA_CLUSTER_NAME=CityFlowCluster
CASSANDRA_PORT=9042
CASSANDRA_WEB_PORT=9091
